<h2>List of ratings</h2>
<% cache 'ratings', expires_in:10.minutes do %>
<p>
  Number of ratings <%= @ratings.count %>
</p>

<h3>Top Best breweries</h3>

<ul>
  <% @top_breweries.each do |b| %>
    <li> <%= b.name %> </li>
  <% end %>
</ul>

<h3>Top Best beers</h3>

<ul>
  <% @top_beers.each do |b| %>
    <li> <%= b.name %> </li>
  <% end %>
</ul>

<h3>Top Best styles</h3>
	<ul>
  <% @top_styles.each do |s| %>
    <li> <%= s.name %> </li>
  <% end %>
</ul>


<h3>Most active users</h3>

<ul>
  <% @top_users.each do |b| %>
    <li> <%= b.username %> </li>
  <% end %>
</ul>

<h3>Last made ratings</h3>

<%= render 'list', ratings: @recent_ratings %>

<% end %>